@model Connection

@{
    ViewData["Title"] = "Messaging";
    //if (Model?.user1 == null || Model?.user2 == null) { return; }
}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .card 
            {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 40%;
            }

                .card:hover 
                {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
        </style>
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/messaging.js"></script>

    </head>

<div class="row d-flex flex-grow-1">
    <div class="col"></div>
    <div class="col-8">
        <div class="d-flex flex-column h-100 border-left border-right p-2" id="messages-body">

            <div class="border-bottom border-light">
                <span class="text-center">Talking to </span>
            </div>

            @* messages box *@
            <div class="flex-grow-1 messages m-1 p-4">
                <ul id="messages-list"></ul>
            </div>

            @* input *@
            <div class="mt-1 mb-3 ">
                <form id="message-form">
                    <input id="user" />
                    <div class="input-group">
                        <input class="form-control" placeholder="message" id="message" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" id="sendbtn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>