@model IEnumerable<ConnectionList>

@{

    ViewData["Title"] = "Messaging";
}

<link href="~/css/messages.css" rel="stylesheet" />
<script src="~/js/jquery.ns-autogrow/jquery.ns-autogrow.min.js"></script>
<script src="~/js/messaging.js"></script>

<span class="d-none" id="username">@User.Identity.Name</span>

<div class="bg-light d-lg-flex flex-column border-right border-light p-3 sidebar">
    <a class="btn btn-primary mb-2 shadow-sm" asp-action="FindConnection">Click here to find a new friend</a>

    @foreach (ConnectionList c in Model) {
        <div class="card shadow-sm connection mb-2" id="connection-@c.Connection.ID" data-id="@c.Connection.ID">
            <div class="card-body d-flex flex-row flex-grow-1 align-items-center justify-content-xl-center">
                <div class="flex-grow-1">
                    <h6>@c.OtherUser.DisplayName</h6>
                    <p>@c.LastMessage</p>
                </div>
                @if (c.ContainsUnread) {
                    <div class="border rounded-circle unread" style="width: 10px;height: 10px;background-color: #ff0000;"></div>
                }
                else {
                    <div class="border rounded-circle d-none unread" style="width: 10px;height: 10px;background-color: #ff0000;"></div>
                }
            </div>
        </div>
    }
</div>
<div class="d-flex flex-column flex-grow-1 mb-5 mb-lg-0" id="connection">
    <div class="d-flex flex-column flex-grow-1" id="messages-container">
        <div class="" id="message-template">
            <span>Hello world</span>
        </div>
        <div class="d-flex flex-column flex-grow-1" id="messages-template">
            <div class="border-bottom border-light d-flex flex-row" style="padding: 5px;">
                <button class="btn d-lg-none sidebar-toggle" type="button"><i class="fas fa-chevron-left"></i></button>
                <h3 id="messages-name">Name</h3>
            </div>
            <div class="d-flex flex-column flex-grow-1 messages-scroll">

            </div>
        </div>
    </div>
    <form class="d-flex" id="message-form" style="padding: 5px;">
        <textarea class="form-control shadow-sm flex-grow-1 mr-2" placeholder="Message" id="message-input" rows="1" style="resize: none" spellcheck="true" autocomplete="off"></textarea>
        <button class="btn btn-primary text-center border rounded" type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>
</div>