@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/site.css"/>
<script src="~/js/manage_account.js"></script>

<div class="d-flex flex-row flex-grow-1">

    <div class="bg-light d-flex flex-column border-right border-light p-3 sidebar">
        <partial name="_ManageNav" />
    </div>

    <div class="d-flex flex-column flex-grow-1 m-3">
        <div class="d-flex flex-row border-bottom border-light">
            <button class="btn d-lg-none sidebar-toggle" type="button"><i class="fas fa-chevron-left"></i></button>
            <h1>Manage your account</h1>
        </div>
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
