.sidebar {
    border-right: 1px solid #c7c8c9 !important;
    width: 25%;
}

.sidebar-scroll {
    height: 0;
    overflow-y: auto;
}

@media (max-width:992px) {
    .sidebar {
        width: 100%;
        margin-left: -100%;
        transition: all 0.3s;
    }

        .sidebar.active {
            margin-left: 0%;
        }
}
