/*.connection:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}*/

.sidebar {
    border-right: 1px solid #c7c8c9 !important;
    width: 25%;
}

.sidebar-scroll {
    height: 0;
    overflow-y: auto;
}

@media (max-width:992px) {
    .sidebar {
        width: 100%;
        margin: 0;
        transition: all 0.3s;
    }

        .sidebar.active {
            margin-left: -100%;
        }
}

.active-connection {
    border: 1px solid black
}

.connection {
    transition: all 0.3s;
}

    .connection:hover {
        box-shadow: 0 .5rem .75rem rgba(0,0,0,.075) !important;
        transition: all 0.3s;
    }

#messages-template {
    display: none !important;
}

.messages-scroll {
    height: 0;
    overflow-y: auto;
}

.messages-header {
    border-bottom: 1px solid #c7c8c9 !important;
}

#message-template {
    display: none !important;
}


.message-left {
    clear: both;
    padding: 5px;
    margin-right: 10px;
    list-style-type: none;
    float: left;
}

    .message-left span {
        color: #353535;
        width: auto;
        padding: 10px;
        background-color: #CDF6E8;
        border-radius: 10px;
        float: left;
        max-width: 75%;
    }

.message-right {
    clear: both;
    padding: 5px;
    margin-right: 10px;
    list-style-type: none;
    float: right;
}

    .message-right span {
        color: #353535;
        width: auto;
        padding: 10px;
        background-color: #BCD9EC;
        border-radius: 10px;
        float: right;
        max-width: 75%;
    }

.message-input {
}
