@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>
    Thank you for creating your account with us, you email address has been confirmed. <br />
    <a class="btn btn-primary" asp-controller="Messaging" asp-action="Index">Click here to get started</a>
</p>