@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<br />
<p >
    Thank you for creating your account with us, you email address has been confirmed. <br />
    Please click <a asp-page="./Login">here</a> to login.
</p>