@{
    ViewData["Title"] = "Home Page";

}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
    
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">


<div class="text-center">
    <h1 class="display-4">Qurantine Convo</h1>

    <p>A place to find people and make new friends during this tough time.<br>Find people with the same interests and spark up a conversation!</p>



    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary" asp-controller="Messaging" asp-action="Index">Click here to get started</a>
        <br />
        <br />
        <button id="btnShowModal" type="button" class="btn btn-primary">
            <i class="fas fa-question"></i>
        </button>

        <div class="modal fade" tabindex="-1" id="loginModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        @*header*@
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>You are just one click away from getting to meet some new friendly strangers. Simply click the get started button.</p>
                        <p> In the top right of your screen, you can click on your username to have access to your account information, or you click the logout button to safely logout from your account.</p>

                    </div>
                    @*<div class="modal-footer">
                            footer
                        </div>*@
                </div>
            </div>
        </div>


    }
    else
    {
        <a class="btn btn-primary">Please Login</a>
        <a class="btn btn-primary">Or create an account</a>
    }
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
    });
</script>
